html {
    background-color: black;
    background-image: url('../img/fortune_xl_cr.jpg');
    background-repeat: no-repeat;
}

.wrapper {
    width: 35%;
    margin: 0 auto;
    font-family: 'Kaushan Script', cursive;
    color: #fff;
}

.dialog {
    text-align: center;
    padding-top: 30%;
}

p {
    font-size: 2em;
    padding-bottom: 2%;
    padding-top: 2%;
    background-color: black;
}

input {
    margin-left: 1%;
    background: transparent;
    padding-left: 5%;
    height: 30px;
    border: none;
    color: #fff;
    border-bottom: 1px dashed #83A4C5;
    background-color: black;
}
