@import "main.css";
.pageWrapper {
    width: 70%;
    padding-top: 50px;
    margin: 0 auto;
}

#resumeName {
    text-align: center;
    font-size: 2em;
    padding-bottom: 10px;
}

#info {
    text-align: center;
    font-size: 1em;
}

.colLeft {
    float: left;
    width: 25%;
    height: 700px;
    padding: 10px;
}

.colRight {
    float: left;
    width: 69%;
    height: 700px;
    border: 2px solid black;
    padding: 10px;
}

div.lilHeaders {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    background-color: cadetblue;
    font-size: 1.1em;
    width: 98%;
    padding: 3px;
}
