@import "reset.css";
@import "main.css";
.pageWrapper {
    padding-top: 50px;
    padding-left: 1%;
    padding-right: 1%;
    background-color: #f2f2f2;
    min-height: 950px;
}

#resumeName {
    text-align: center;
    font-size: 2em;
    padding-bottom: 10px;
}

#info {
    margin-bottom: 15px;
    text-align: center;
    font-size: 1em;
}

.colLeft {
    float: left;
    max-width: 20%;
    height: 700px;
    line-height: 1.1em;
    border-left: 2px solid #222621;
    border-top: 2px solid #222621;
    border-bottom: 2px solid #222621;
    padding: 10px;
    margin-left: 3%;
}

.colRight {
    float: left;
    max-width: 69%;
    height: 700px;
    line-height: 1.1em;
    border: 2px solid #222621;
    padding: 10px;
}

div.lilHeaders {
    border-top: 1px solid #222621;
    border-bottom: 1px solid #222621;
    background-color: #736049;
    color: #f2f2f2;
    font-size: 1.1em;
    width: 98%;
    padding: 3px;
    margin-top: 10px;
}

li {
    padding-left: 15px;
    padding-top: 5px;
}

p {
    padding-left: 15px;
    padding-top: 5px;
}

.strong {
    padding-top: 20px;
    font-size: 1.1em;
}
